In [16]:
jumbled_superheroes = ['CaPtIan_AmERicA' ,'iROn_maN', 'MoOn_KNigHt', 'hULk']
jumbled_superheroes

['CaPtIan_AmERicA', 'iROn_maN', 'MoOn_KNigHt', 'hULk']

In [24]:
decoded_name = []
indices = []


for i, names in enumerate(jumbled_superheroes):
  indices.append(i)

  new_name = names.replace('_', ' ')
  new_name = new_name[0].upper() + new_name[1:50].lower()
  decoded_name.append(new_name)

print(indices,decoded_name)

[0, 1, 2, 3] ['Captian america', 'Iron man', 'Moon knight', 'Hulk']

In [31]:
f = lambda a : len(a)
name_length = []
for i in decoded_name:
  length = f(i)
  name_length.append(length)

print(name_length)

[15, 8, 11, 4]

In [33]:
name_length.sort()

In [34]:
name_length

[4, 8, 11, 15]

In [48]:
alphabetical_sorted = []
decoded_names.sort()

alphabetical_sorted.append(decoded_names)

In [47]:
alphabetical_sorted

[['Captian america', 'Hulk', 'Iron man', 'Moon knight']]

In [50]:
decoded_names.sort(key = lambda a : len(a))
print(decoded_names)

['Hulk', 'Iron man', 'Moon knight', 'Captian america']

In [54]:
final_names = []
for x in decoded_names:
  final_name = x.title()
  final_names.append(final_name)
final_names

['Hulk', 'Iron Man', 'Moon Knight', 'Captian America']

In [57]:
for i,var in enumerate(final_names):
  print(f'{i+1}. {var}')

1. Hulk
2. Iron Man
3. Moon Knight
4. Captian America